Django==5.0.6
sqlparse==0.4.4
psycopg2-binary==2.9.9
django-filter==24.2
django-crispy-forms==2.3
crispy-bootstrap5==2025.6
django-qr-code==4.2.0
qrcode==7.4.2
django-eventstream==4.0.0
djangorestframework==3.15.1
requests==2.32.3
channels==4.0.0
channels-redis==4.2.1
redis==5.0.7
gunicorn==22.0.0
whitenoise==6.7.0